/* ::::CSS Sequence (7 Steps):::: */
/* Step1: parentContainer */
/* Step2: component */
/* Step3: componentContainer */
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* Step1: parentContainer */
/* :::For Parent Container CSS Properties are given in the Default CSS file::: */
/* header{
    background-color: #649db1;
} */

/* Step2: component */
.contactIcons{
    /* background-color: brown; */
}
/* Step3: componentContainer */
.contactIconsContainer{
    /* background-color: rgb(188, 118, 27); */
    margin: 0rem 4rem;
    padding: 0px 12px;
}
/* Step4: row-1 */
.contactIconsBody{
    /* background-color: burlywood; */
}
/* Step5: column-1 */
.emailBlock{
    /* background-color: rgb(211, 187, 32); */
}
/* Step6: subColumn */
.emailBox{
    /* background-color: cornsilk; */
}
/* Step7: contentContainer */
.emailBox i{
    /* background-color: rgb(233, 192, 30); */
}
.emailBox h3{
    /* background-color: rgb(216, 182, 42); */
}
.emailBox p{
    /* background-color: rgb(107, 87, 5); */
    font-family: "Nunito",sans-serif;
    font-size: 20px;
    margin: 0px 0px 20px;
    line-height: 1.5rem;
}
.cardMain{
    padding-bottom: 2rem;
}
/* Step5: column-2 */
.timingBlock{
    /* background-color: rgb(211, 187, 32); */
}
/* Step6: subColumn */
.timingBox{
    /* background-color: cornsilk; */
}
/* Step7: contentContainer */
.timingBox i{
    /* background-color: cornsilk; */
}
.timingBox h3{
    /* background-color: rgb(216, 182, 42); */
}
.timingBox p{
    /* background-color: rgb(107, 87, 5); */
    font-family: "Nunito",sans-serif;
    font-size: 20px;
    margin: 0px 0px 20px;
    line-height: 1.5rem;
}
/* Step5: column-3 */
.locationBlock{
    /* background-color: rgb(211, 187, 32); */
}
/* Step6: subColumn */
.locationBox{
    /* background-color: cornsilk; */
}
/* Step7: contentContainer */
.locationBox i{
    background-color: rgb(248, 231, 161);
    
}
.locationBox h3{
    /* background-color: rgb(216, 182, 42); */
}
.locationBox p{
    /* background-color: rgb(107, 87, 5); */
    font-family: "Nunito",sans-serif;
    font-size: 20px;
    margin: 0px 0px 20px;
}
/* Step5: column-4 */
.numberBlock{
    /* background-color: rgb(211, 187, 32); */
}
/* Step6: subColumn */
.numberBox{
    /* background-color: cornsilk; */
}
/* Step7: contentContainer */
.cardHeader i{
    /* background-color: cornsilk; */
    font-size: 40px;
    /* align-items: center; */
    background: #BE9C79;
    color: white;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    /* margin: 0px 0px 30px; */
    padding: 13px;
}
.numberBox h3{
    /* background-color: rgb(216, 182, 42); */
}
.numberBox p{
    /* background-color: rgb(107, 87, 5); */
    font-family: "Nunito",sans-serif;
    font-size: 20px;
    /* margin: 0px 0px 20px; */
    line-height: 1.5rem;
}


/* Step4: row-2 */
.copyrightsBody{
    /* background-color: burlywood; */
    border-top: 1.5px solid black;
   
}
.copyrightsBlock{
    /* background-color: darkblue; */
    padding-top: 2rem;
  
}
/* Step6: subColumn */
.copyrightsBox{
    /* background-color: cornsilk; */
 
}
/* Step7: contentContainer */
.copyrightsBox p{
    /* background-color: rgb(149, 133, 67); */
    /* margin: 20px 0px; */
    font-family: "Nunito",sans-serif;
    font-size: 20px;
    /* text-align: center; */
    margin-bottom: 0%;
}