/* ::::CSS Sequence (7 Steps):::: */
/* Step1: parentContainer */
/* Step2: component */
/* Step3: componentContainer */
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* Step1: parentContainer */
/* :::For Parent Container CSS Properties are given in the Default CSS file::: */
/* header{
    background-color: #649db1;
} */

/* Step2: component */
.contact{
    /* background-color: dimgrey; */
}
/* Step3: componentContainer */
.contactContainer{
    /* background-color: rgb(170, 101, 11); */
}
/* Step4: row-1 */
.contactBody{
/* background-color: rgb(191, 126, 40); */
}
/* Step5: column */
.contactBlock{
    /* background-color: cornsilk; */
}
/* Step6: subColumn */
.contactBox{
    /* background-color: rgb(165, 121, 64); */
}
/* Step7: contentContainer */
.contactBox figure{
    /* background-color: rgb(240, 204, 160); */
}
.contactBox figure img{
    /* background-color: rgb(241, 134, 4); */
    height: auto;
    width: 180px; 
}
.contactBox h2{
    /* background-color: rgb(187, 142, 60); */
}
/* Step4: row-2 */
.bookingBody{
    /* background-color: burlywood; */
}
/* Step5: column-1 */
.pictureBlock{

}
/* Step6: subColumn */
.pictureBox{

}
/* Step5: column-2 */
.bookingBlock{

}
/* Step6: subColumn */
.bookingBox{

}
/* Step7: contentContainer */