/* Default code Starts here */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: pretty;
  /* border: 0.1rem solid red; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: "Merienda", serif;
  font-family: "Nunito Sans", serif;
  /* font-family: "Inter", serif; */
  /* font-family: "Roboto Condensed", serif; */
  /* font-family: "DM Serif Display", serif; */
  /* line-height: 1.5; */
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
}

/* :::::SCROLL BAR CODE S T A R T S::::: */

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 1.5rem;
  /* Vertical scrollbar */
  height: 1rem;
  /* Horizontal scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 0.5rem;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #cececf;
  /* border-radius: 0.5rem; */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9b9ba;
}

/* :::::SCROLL BAR CODE E N D S::::: */

h1,
h2,
h3,
h4,
h6,
p {
  /* text-wrap: balance; */
}

h1 {
  color: #212529;
  font-weight: 850;
  font-size: 5rem;
  font-family: "Merienda", serif;
}

h2 {
  color: #212529;
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  font-family: "Merienda", serif;
  margin: 0rem 0rem 1rem;
}

h3 {
  color: #212529;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

p {
  color: #212529;
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
}

span {
  color: #BE9C79;
}

.button {
  font-family: "Nunito Sans", serif;
  font-size: 2rem;
  padding: 0.7rem 3rem;
  background: #BE9C79;
  color: #ffffff;
  border: none;
}

button:hover {
  background: #0e0d0d; 
  cursor: pointer;
}

button:active{
  border: 0.4rem solid #a8d1ff;
}

input,
textarea,
button {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primaryColor: #be9c79;
  --secondaryColor: #666666;
  --darkColor: #333333;
  --lightColor: #ffffff;
  --regularFont: 1.5rem;
  --headingFont: 2.5rem;
  --ffPrimary: "Nunito Sans", serif;
  --ffSecondary: "Merienda", serif;
}

/* project standard classes Starts */

.componentSpacing {
  padding: 1rem 0rem;
  /* Breathing Space Between Components */
}

.screenSize-1 {
  max-width: 1200px;
  margin: auto;
}

.screenSize-2 {
  max-width: 1020px;
  margin: auto;
}

.screenSize-3 {
  max-width: 1170px;
  /* Device Screen Size */
  margin: auto;
  /* Left and right Center */
}

.headingImage {
  height: auto;
  width: 18rem;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0rem 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* padding: 0rem 2rem; */
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0rem 2rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0rem 2rem;
}

.dflex {
  display: flex;
  /* without this wont work */
  align-items: center;
  /* top & bottom Alignment */
  justify-content: center;
  /* left & right Alignment */
}

.dflex-col {
  display: flex;
  flex-direction: column;
  /* makes top to bottom align */
  align-items: center;
  /* Behaves like a justify-content */
  justify-content: center;
  /* Behaves like a align-items */
  text-align: center;
}

.dflex-col-start {
  display: flex;
  flex-direction: column;
  /* makes top to bottom align */
  align-items: center;
  /* Behaves like a justify-content */
  justify-content: center;
  /* Behaves like a align-items */
  text-align: left;
}

.dflex-start {
  display: flex;
  justify-content: start;
  align-items: start;
}

/* project standard classes Ends */

/* Default code Ends here */

/* :::PARENT CONTAINER Code Starts here::: */

header {
  width: 100%;
  /* Full Screensize */
  height: auto;
  /* content Height */
}

main {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
}

/* :::PARENT CONTAINER Code Ends here::: */
/* :::PARENT CONTAINER Code Ends here::: */

/* :::HEADER Code Starts hereE::: */
/* Navbar code */
.navContainer {
  padding: 1.6rem 0rem;
}

.logoBox {
  padding: 1rem 0.2rem;
}

.logoBox figure img {
  width: auto;
  height: 5rem;
  margin-left: 4rem;
}

#iconToggle {
  cursor: pointer;
  display: none;
}

.homeBox .hamburger {
  font-size: 2.5rem;
  color: #00000080;
  border: 0.1rem solid #0000001d;
  padding: 0.3rem 1.9rem 0.3rem 1.9rem;
  border-radius: 0.55rem;
  display: none;
}

.homeBox ul li a {
  font-family: "Nunito Sans", serif;
  font-size: 2rem;
  color: #343A40;
  padding: 1rem;
}

.homeBox {
  padding-left: 2rem;
}

/* Navbar code */

/* Hero Section code */
.hero {
  background: linear-gradient(90deg, rgb(255, 255, 255), transparent 70%), url(./assets/images/hero_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16rem 0rem;
}

.heroBox {
  height: 100%;
  width: 50%;
}

.heroBox p {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: #343A40;
}

/* Hero Section code */
/* :::HEADER Code Ends here::: */

/* :::MAIN Code Starts here::: */
/* Our Menu code */
.imageBox figure img {
  width: 100%;
  aspect-ratio: 3/3;
}

.imageBox{
  padding-right: 2rem;
}

.menuBox h2 {
  font-family: "Merienda", cursive;
  font-size: 4rem;
  color: #212529;
  line-height: 4rem;
  text-align: start;
}

.menuBox p {
  font-family: "Nunito Sans", serif;
  font-size: 1.6rem;
  text-align: start;
  margin: 1rem 0rem 2rem 0rem;
}

/* Our Menu code */

/* Facility code */

.facilityCardHeader{
  padding-bottom: 2rem;
}

.facilityCardMain p {
  text-align: start;
  padding-top: 1rem;
}

/* Facility code */

/* Popular code */
.coffeeBody {
  padding: 0rem 2rem;
}

.coffeeBody img {
  width: 100%;
  aspect-ratio: 3/3;
  padding: 1rem;
}

/* Popular code */

/* Gallery code */
.galleryImage{
  width: 100%;
  aspect-ratio: 4/3;
}

.galleryImage {
  padding: 0rem 1rem 1.5rem;
}

/* Gallery code */

/* Team code */
.john {
  font-size: 2rem;
}

.memberBox{
  padding-bottom: 1.4rem;
}

.memberBox figure img{
  height: 30rem;
  width: auto;
  padding: 0rem 1rem 0rem;
}

/* Team code */
/* :::MAIN Code Ends here::: */

/* :::FOOTER Code Starts here::: */
/* Contact code */

.pictureBox figure img{
  width: 100%;
  aspect-ratio: 5/5.9;
}

.bookingBox{
  border: 0.1rem solid black;
  gap: 1rem;
  padding: 1rem 3rem 4rem 3rem;
}

.bookingBox h3{
  font-size: 3.5rem;
  font-weight: 500;
}
input {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;          
  width: 48rem;
  padding: 1.2rem;       
  margin-bottom: 3rem;
  border: 0.1rem solid #080808;
  box-sizing: border-box;
}

input:focus {
  outline: #a8d1ff;
  border: 0.4rem solid #a8d1ff; 
}


/* Contact code */

/* Contact Icons code */
.cardHeader i {
  font-size: 4rem;
  background: #BE9C79;
  color: white;
  border-radius: 100%;
  height: 7rem;
  width: 7rem;
  padding: 1.3rem;
  margin: 3rem;
}

.contactIconsContainer {
  margin: 0rem 4rem;
  padding: 0rem 0.5rem;
}

.contactIconsBody {
  margin: 3rem;
}

.cardMain p {
  font-size: 2rem;
  padding: 0.2rem 0rem;
}

.cardMain h3 {
  padding-bottom: 1rem;
}

.copyrightsBody {
  border-top: 0.1rem solid black;
}

.copyrightsBlock {
  padding-top: 2rem;
}

.copyrightsBox p {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
}

/* Contact Icons code */
/* :::FOOTER Code Ends here::: */

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0rem 1rem; */
  }

  .logoBlock img {
    justify-content: center;
  }

  .homeBox .hamburger {
    display: block;
    position: absolute;
    top: 3rem;
    right: 4rem;
    cursor: pointer;
  }

  .homeBlock {
    justify-content: end;
  }

  .homeBox ul li {
    padding: 1rem;
  }

  .hero {
    background-size: auto;
    padding: 25rem 0rem;
  }

  .links {
    flex-direction: column;
    display: none;
  }

  #iconToggle:checked~.links {
    display: flex;
  }

  .logoBox {
    padding: 0.1rem 0.2rem;
  }

  .heroBox h1 {
    font-size: 3rem;
  }

  .heroBox p {
    font-size: 1.6rem;
    margin: 0rem 0rem 2rem;
  }
  
  .menuBox{
    padding: 0rem 4rem;
  }

  .menuBox p {
    font-size: 1.6rem;
  }

  .varietiesBody{
    padding-bottom: 1rem;
  }

  .facilityCardMain p {
    font-size: 1.6rem;
    text-align: left;
    word-spacing: normal;
  }

  .facilityItems{
    padding-bottom: 3rem;
  }

  .coffeeBody img {
    width: 100%;
    aspect-ratio: 2/2;
  }

  .imageBox figure img {
    width: 100%;
    aspect-ratio: 3/3;
  }

  .memberBox figure img {
    height: 26rem;
    width: auto;
  }

  .pictureBox img {
    width: 100%;
    aspect-ratio: 3/4;
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
  }

  .bookingBox{
    margin: 4rem;
  }
}

/* Medium devices (tablets, upto 768px and above) */
/* @media (width >=577px) and (width <=768px) */
@media (min-width: 577px) and (max-width: 768px) {

  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr 1fr;
    padding: 0rem 1rem;
  }
}

/* Large devices (Laptops, upto 992px and above) */
/* @media (width >=769px) and (width <=992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 1rem;
  }
}

/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (width >=993px) and (width <=1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* write code here */
  /* This will get CSS from Default style.css */
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (width >=1200px) */
@media (min-width: 1201px) {
  /* write code here */
}

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */